<main>
  <%= render partial: 'layouts/header', locals: { user: user } %>

  <!-- フラッシュを表示 -->
  <div class="c-flash c-flash--notice slide">
    <div class="c-flash-icon">
      <div class="c-flash-text"></div>
    </div>
  </div>
  <!-- フラッシュアラートを表示 -->
  <div class="c-flash c-flash--alert">
    <div class="c-flash-text"></div>
    <i class="fa-solid fa-xmark c-flash-close" id="close-flash"></i>
  </div>
  <div class="main-content-js">
    <div class="inner book-profile">
      <h1 class="font-large">プロフィール</h1>

      <div class="book-cover-img user-profile-img-setting">
        <img src="/default_user_image.jpg" alt="ユーザーアイコン" class="user-profile-img account-setting" />
      </div>

      <%= form_tag("/users/account_update", method: :put) do %>
        <div class="book-profile-form">
          <div class="input-book-info">
            <p class="input-book-label font-small-12">ニックネーム</p>
            <input
              id="input_nickname"
              class="form-oneline account-setting"
              type="text"
              name="nickname"
              placeholder="ヴァージニア・ウルフ"
              value="<%= user.nickname %>"
            />
            <p id="nickname_valid_error" class="valid_error"></p>
          </div>

          <div class="input-book-info">
            <p class="input-book-label font-small-12">メールアドレス</p>
            <input
              id="input_email"
              class="form-oneline account-setting"
              type="text"
              name="email"
              placeholder="urufu@gmail.com"
              value="<%= user.email %>"
            />
            <p id="email_valid_error" class="valid_error"></p>
          </div>
        </div>

        <input class="submit-button account-setting-submit-js" type="submit" value="更新" disabled />
      <% end %>
    </div>
  </div>
</main>
<div class="common-footer">copywrite</div>
