<div class="user-profile">
  <div class="user-profile-item user-status">
    <img src="/illust/profile_owl.png" alt="ユーザーアイコン" class="profile-image" />
    <p clas="user-profile-name"><%= user.nickname %></p>
  </div>
  <div class="user-profile__separator"></div>
  <div class="user-profile-item book-count">
    <div class="user-profile-cleard-count">
      <p><i class="fa-solid fa-image"></i></p>
      <p class="user-profile-cleard-count font-large"><%= books.all_randoku_imgs_count %></p>
    </div>
    <p class="user-profile-cleared-text font-small-12">画像のメモ数</p>
  </div>
  <div class="user-profile__separator"></div>
  <div class="user-profile-item book-count">
    <div class="user-profile-cleard-count">
      <p><i class="fa-solid fa-book"></i></p>
      <p class="user-profile-cleard-count font-large"><%= books.all_count %></p>
    </div>
    <p class="user-profile-cleared-text font-small-12">本の登録数</p>
  </div>
  <div class="user-profile__separator"></div>
  <div class="user-profile-item clear-lessons">
    <div class="user-profile-cleard-count">
      <p><i class="fa-solid fa-medal"></i></p>
      <p class="user-profile-cleard-count font-large"><%= books.all_seidoku_state_count %></p>
    </div>
    <p class="user-profile-cleared-text font-small-12">じっくり読書本の数</p>
  </div>
</div>
