<div class="user-profile">
  <div class="user-profile-item user-status">
    <img src="/default_user_image.jpg" alt="ユーザーアイコン" class="profile-image" />
    <p clas="user-profile-name"><%= books.user_nickname %></p>
  </div>
  <div class="user-profile__separator"></div>
  <div class="user-profile-item book-count">
    <div class="user-profile-cleard-count">
      <p><i class="fa-solid fa-image"></i></p>
      <p class="user-profile-cleard-count font-large"><%= books.all_randoku_imgs_count %></p>
    </div>
    <p class="user-profile-cleared-text font-small-12">乱読画像数</p>
  </div>
  <div class="user-profile__separator"></div>
  <div class="user-profile-item book-count">
    <div class="user-profile-cleard-count">
      <p><i class="fa-solid fa-book"></i></p>
      <p class="user-profile-cleard-count font-large"><%= books.all_count %></p>
    </div>
    <p class="user-profile-cleared-text font-small-12">登録本数</p>
  </div>
  <div class="user-profile__separator"></div>
  <div class="user-profile-item clear-lessons">
    <div class="user-profile-cleard-count">
      <p><i class="fa-solid fa-medal"></i></p>
      <p class="user-profile-cleard-count font-large"><%= books.all_seidoku_state_count %></p>
    </div>
    <p class="user-profile-cleared-text font-small-12">精読本数</p>
  </div>
</div>
