<div class="landing">
  <header class="landing-header-main">
    <div class="yondeco-landing-logo">
      <img src="/yondeco_logo.svg" />
    </div>
    <%= button_to 'ログイン', '/auth/auth0', method: :post, class: 'submit-button landing' %>
  </header>

  <div class="landing-introduction-main">
    <h2 class="landing-intoroduction_title">
      <span>いま読んでいる本が<br />「自分にとってどのぐらい大切な一冊」なのか、<br />「見える化」するアプリ</span>
    </h2>
    <p class="landing-intoroduction_lead">
      yondecoアプリをあなたの相棒にし、<br />自分だけのレビューを書ける「新しい読書体験」をはじめてみてください。
    </p>
    <%= button_to '今すぐはじめる', '/auth/auth0', method: :post, class: 'submit-button landing-intoroduction' %>
    <div class="landing-introduction_img-container">
      <picture>
        <img src="/illust/top72.png" class="landing-top-img" />
      </picture>
    </div>
  </div>
  <div class="landing-container landing-how-to-enjoy">
    <h2 class="landing-intoroduction_title big-section-title">アプリの楽しみ方</h2>
    <p class="landing-intoroduction_lead landing-how-to-enjoy">
      yondecoアプリは、いま読んでいる本が自分にとってどのぐらい大切なのか、見える化できる読書アプリです。<br />
      アプリの機能に沿って読書メモをとることで、書評家のように自分だけの本のレビューが完成していきます。<br />
      <br />
      皆さんご存じのように、一冊の本から得られる読書体験は多様多彩です。<br />
      いま手に取って読み進めようとしている本に「期待したいこと」も一冊ごとに違うものです。<br />
      <br />
      yondecoアプリでは、あなたの“BookLife”がより豊かになることを願い、<br />
      大事な本と出合うための私的な読書、アウトプットにつなげる学びの読書<br />
      この2つの読書体験をサポートしていきます。
    </p>
    <div class="landing-small-section">
      <h3 class="landing-small-section-title font-large">2つの読書体験</h3>
      <p class="landing-small-section-lead landing-how-to-enjoy">
        yondecoアプリでは2つの読書体験を以下のように名づけました。
      </p>
      <div class="landing-small-section-point font-small-18">
        大切な本と出合うための私的な読書 👉 さらさら読書<br />
        アウトプットにつなげる学びの読書 👉 じっくり読書
      </div>
      <picture>
        <img src="https://placehold.jp/1000x547.png" width="100%" class="web-img" />
      </picture>
      <h3 class="landing-small-section-title font-large">大切な本かどうかをジャッジ</h3>
      <p class="landing-small-section-lead landing-how-to-enjoy">
        本を読み進める中で「保存したメモの数」をもとに「大切な本かどうか」をジャッジし、アドバイスをします。
      </p>
      <picture>
        <img src="https://placehold.jp/1000x547.png" width="100%" class="web-img" />
      </picture>
    </div>
    <div class="landing-big-section">
      <h2 class="landing-intoroduction_title big-section-title">アプリの取説</h2>

      <div class="manual-use manual">
        <h3 class="manual-title">How to Use</h3>
        <p class="manual-sub-title">使い方の「基本のキ」！</p>

        <!-- Grid -->
        <div class="manual-use_inner">
          <div class="manual-use-info">
            <img src="/illust/use1.png" width="100%" class="manual-use-illust" />
            <div class="manual-use-description">
              <p class="namual-number">1</p>
              <p class="manual-use-lead">
                アプリに本を登録します。<br />
                本の評価に必要な条件は「読書ページ数を入力する」ことです。読書ページ数はいつでも変更できます。
              </p>

              <p></p>
            </div>
          </div>
          <div class="manual-use-info">
            <img src="/illust/use2.png" width="100%" class="manual-use-illust" />
            <div class="manual-use-description">
              <p class="namual-number">2</p>
              <p class="manual-use-lead">
                kindleなどの電子書籍リーダー、手もとにある読書中の本の中で「少しでも気になったフレーズ」や
                「印象に残った図版」ページを撮影します。
              </p>

              <p></p>
            </div>
          </div>
          <div class="manual-use-info">
            <img src="/illust/use3.png" width="100%" class="manual-use-illust" />
            <div class="manual-use-description">
              <p class="namual-number">3</p>
              <p class="manual-use-lead">画像データをアップロードします。画像データはまとめてアップロードできます。</p>

              <p></p>
            </div>
          </div>
          <div class="manual-use-info">
            <img src="/illust/use4.png" width="100%" class="manual-use-illust" />
            <div class="manual-use-description">
              <p class="namual-number">4</p>
              <p class="manual-use-lead">
                アプリ内に格納した画像データを適時、読み返すことで、いま読んでいる本があなたにとってどれだけ大切かをアプリが位置づけ、
                その本の読み方をアドバイスします。画像データを読み返す際は未読・既読（読んだ！ボタン）のチェックが必要です。
              </p>

              <p></p>
            </div>
          </div>
        </div>
      </div>

      <div class="manual-fun manual">
        <h3 class="manual-title">How to Fun</h3>
        <p class="manual-sub-title">気になったフレーズをサクサク撮影！</p>
        <p class="manual-description">
          yondecoアプリを使えば、本の中に線をひく手間が省けます。<br />
          アプリを開くと、写真でメモが撮られているので<br />
          「気になったフレーズ」や「印象に残った図版」の前後の文脈を含めて確認できます。<br />
          写真（メモ）の数が多ければ多いほど「大切な本」と心得えておきましょう。
        </p>
      </div>

      <div class="manual-fun manual">
        <h3 class="manual-title">How to Proceed</h3>
        <p class="manual-sub-title">まずは「さらさら読書」、写真（メモ）を保存して「じっくり読書」へGO！</p>
        <p class="manual-description">
          大切な本と出合う「さらさら読書」を完了したら、次のSTEP、「じっくり読書」に進んでください。<br />
          アウトプットにつなげる学びの読書には、著者の見解を自分らしく噛み砕いた解釈が必要。<br />
          yondecoアプリでは「著者の意見」や「自分の意見」を引用・要約したメモがとれるので、<br />
          アプリ内で「じっくり読書」に進むと本への理解がより深まります。<br />
          <br />
          事実や意見を意識しながら読むと、<br />著者の見解に対して自分の考えがまとまり、アウトプットの基盤ができるもの。<br />
          「さらさら読書」から「じっくり読書」に進み、アウトプットにつながる読書を目指しましょう。
        </p>
      </div>
    </div>
  </div>
</div>
