<div class="landing">
  <header class="landing-header-main">
    <div class="yondeco-landing-logo">
      <img src="/yondeco_logo.svg" />
    </div>
    <%= button_to 'ログイン', '/auth/auth0', method: :post, class: 'submit-button landing' %>
  </header>

  <div class="landing-introduction-main">
    <h2 class="landing-intoroduction_title">
      <span>いま読んでいる本が<br />「自分にとってどのぐらい大切な一冊」なのか、<br />「見える化」するアプリ</span>
    </h2>
    <p class="landing-intoroduction_lead">
      yondecoアプリをあなたの相棒にし、<br />自分だけのレビューを書ける「新しい読書体験」をはじめてみてください。
    </p>
    <%= button_to '今すぐはじめる', '/auth/auth0', method: :post, class: 'submit-button landing-intoroduction' %>
    <div class="landing-introduction_img-container">
      <picture>
        <img src="/illust/top72.png" class="landing-top-img" />
      </picture>
    </div>
  </div>
  <div class="landing-container landing-how-to-enjoy">
    <h2 class="landing-intoroduction_title big-section-title">アプリの楽しみ方</h2>
    <p class="landing-intoroduction_lead landing-how-to-enjoy">
      yondecoアプリは、いま読んでいる本が自分にとってどのぐらい大切なのか、見える化できる読書アプリです。<br />
      アプリの機能に沿って読書メモをとることで、書評家のように自分だけの本のレビューが完成していきます。<br />
      <br />
      皆さんご存じのように、一冊の本から得られる読書体験は多様多彩です。<br />
      いま手に取って読み進めようとしている本に「期待したいこと」も一冊ごとに違うものです。<br />
      <br />
      yondecoアプリでは、あなたの“BookLife”がより豊かになることを願い、<br />
      大事な本と出合うための私的な読書、アウトプットにつなげる学びの読書<br />
      この2つの読書体験をサポートしていきます。
    </p>
    <div class="landing-small-section">
      <h3 class="landing-small-section-title font-large">2つの読書体験</h3>
      <p class="landing-small-section-lead landing-how-to-enjoy">
        yondecoアプリでは2つの読書体験を以下のように名づけました。
      </p>
      <div class="landing-small-section-point font-small-18">
        大切な本と出合うための私的な読書 👉 さらさら読書<br />
        アウトプットにつなげる学びの読書 👉 じっくり読書
      </div>
      <picture>
        <img src="https://placehold.jp/1000x547.png" width="100%" class="web-img" />
      </picture>
      <h3 class="landing-small-section-title font-large">大切な本かどうかをジャッジ</h3>
      <p class="landing-small-section-lead landing-how-to-enjoy">
        本を読み進める中で「保存したメモの数」をもとに「大切な本かどうか」をジャッジし、アドバイスをします。
      </p>
      <picture>
        <img src="https://placehold.jp/1000x547.png" width="100%" class="web-img" />
      </picture>
    </div>
    <div class="landing-big-section">
      <h2 class="landing-intoroduction_title big-section-title">アプリの取説</h2>
    </div>
  </div>
</div>
