<!-- モーダル -->
<div class="modal">
  <div class="reveal-outer">
    <div class="reveal-wrapper">
      <div class="reveal-inner">

        <!-- Sliderを包むコンテナ要素 -->
        <div class="swiper">
          <!-- スライド要素を包む要素 -->
          <div class="swiper-wrapper">
            <!-- 各スライド -->
            <% book.randoku_imgs_all.each do |slide_img| %>
              <div class="swiper-slide">
                <div id="img_name" class="sw_img_name">
                  <p><%= slide_img[:name] %></p>
                </div>
                <div id="swiper_img" class="sw_img">
                  <img src="<%= "#{slide_img[:path]}" %>?#{Time.now.to_i}" alt=" " />
                </div>
                <div id="updated_at" class="sw_updated">
                  <p><%= slide_img[:updated_at] %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="swiper-pagination"></div>
        <div id="button-prev" class="swiper-button-prev"></div>
        <div id="button-next" class="swiper-button-next"></div>

        <span id="close-btn" class="close-button">&times;</span>
      </div>
    </div>
  </div>
</div>
