<h3><%= book.title %></h3>
<% book.randoku_imgs_all.each do |img| %>
  <img src="<%= "#{img[:thumbnail_path]}" %>?#{Time.now.to_i}" alt=" " id="modal_trigger" />
<% end %>
<%= render partial: 'randoku_slide', locals: { book: book } %>
