<!-- Sliderを包むコンテナ要素 -->
<div class="swiper">
  <!-- スライド要素を包む要素 -->
  <div class="swiper-wrapper">
    <!-- 各スライド -->
    <% slides = [1,2,3] %>
    <% slides.each do |slide| %>
      <div class="swiper-slide">
        <div id="img_name" class="sw_img_name">
          <p>img name</p>
        </div>
        <div id="img" class="sw_img">
          <img src="" alt="">
        </div>
        <div id="updated_at" class="sw_updated">
          <p>updated at</p>
        </div>
      </div>
    <% end %>
  </div>
  <div class="swiper-pagination"></div>
  <div id="button-prev" class="swiper-button-prev"></div>
  <div id="button-next" class="swiper-button-next"></div>
</div>

<!-- モーダル -->
<div class="modal">
<div class="reveal-outer">
  <div class="reveal-wrapper">
    <div class="reveal-inner">
        <h1 class="modalTitle">全画面モーダル</h1>

        <span id="close-btn" class="close-button">&times;</span>
      </div>
    </div>
  </div>
</div>

<!-- modal mask -->
<%# <div class="modal-mask"></div> %>

