<!-- randoku_indexの共通部分 -->
<%= render partial: 'books/randoku_index_common', locals: { books: books } %>

<h3>登録中の本</h3>
<div>
  <% if books_rank.books_index_rank.empty? %>
    <p>乱読本がありません</p>
  <% elsif books_rank.books_index_rank.empty? %>
    <p>乱読画像が投稿されていません</p>
  <% else %>
    <% books_rank.books_index_rank.each do |book| %>
      <p>
        タイトル：
        <%= book[:title] %>
      </p>
      <p>
        乱読画像数：
        <%= book[:randoku_imgs_count] %>
      </p>
      <p>
        乱読メモ数：
        <%= book[:randoku_memos_count] %>
        <br />
        ------
      </p>
    <% end %>
  <% end %>
</div>
