.book-profile {
  width: 612px;
  margin: 0 auto;
  margin-top: 40px;
}
.book-cover-upload-form {
  margin-top: 16px;
}
.book-cover-img {
  position: relative;
  width: 100px;
  margin: auto;
  margin-bottom: 24px;
  user-select: none;
  cursor: pointer;
}

.book-cover-camera-icon {
  vertical-align: -4px;
  color: white;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
/**** 本の情報入力欄 ****/
.book-profile-form {
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
}
.input-book-info {
  margin-top: 24px;
}
.input-book-label {
  color: rgb(132, 145, 165);
  font-size: 0.75rem;
  margin-bottom: 8px;
}
.input-book-value {
  width: 100%;
  padding: 0px 16px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(186, 198, 211);
  border-radius: 3px;
  color: rgb(22, 50, 92);
  font-size: 0.75rem;
  height: 48px;
}
.input-book-value::placeholder {
  color: lightgray;
}
.book-profile-totalpage {
  background-color: #d4dce4;
  border-radius: 20px;
  width: 70%;
  /*width: 380px;*/
  margin: auto;
  padding: 24px 20px;
  text-align: center;
  margin-bottom: 30px;
}
#input_total_page {
  background-color: white;
  width: 40%;
  border-radius: 12px;
  text-align: center;
  vertical-align: middle;
  padding: 0px 10px 0 24px;
  border: 1px solid #d0d5d8;
  height: 70px;
  color: #555;
  font-size: 32px;
  cursor: pointer;
}
.submit-button.book-info-submit {
  margin: auto;
  width: 70%;
}
.total-page-title {
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 1.75;
}
.total-page-description {
  font-size: 14px;
  line-height: 1.75;
  margin-bottom: 16px;
}
#title_valid_error,
#author_valid_error,
#total_page_valid_error {
  display: block;
  color: rgb(231, 82, 82);
  font-size: 0.75rem;
  margin-top: 8px;
}

/****モーダルのトータルページ更新****/
.ModalContent.slide {
  padding: 50px 0px;
  width: 650px;
  padding: 60px 0;
  text-align: center;
}
.modal-total-page.slide {
  text-align: center;
  margin-bottom: 24px;
}
.total-page-title.slide {
  font-size: 28px;
  letter-spacing: 1.4px;
  line-height: 1.5;
  margin-bottom: 13px;
}
.total-page-description.slide {
  margin-bottom: 20px;
}
.input-total-page.slide {
  width: 60%;
  height: 85px;
}

.slide-total-page-submit-btn {
  margin: auto;
  width: 40%;
  align-items: center;
  height: 60px;
}

.js-update-current-total-page {
  font-size: 18px;
}
.total-page-unit {
  font-size: 14px;
}
#img_read_status_count_modal {
  font-size: 14px;
  margin-top: 4px;
  line-height: 1.75;
}
.current-total-page-text {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 2px;
}
