.book-profile {
  width: 612px;
  margin: 0 auto;
  margin-top: 40px;
}
.book-cover-upload-form {
  margin-top: 16px;
}
.book-cover-img {
  position: relative;
  width: 100px;
  margin: auto;
  margin-bottom: 24px;
  user-select: none;
  cursor: pointer;
}
.settable_profile_image {
  position: absolute;
  border-radius: 50%;
  bottom: -5px;
  right: -13px;
  background-color: rgb(48, 200, 214);
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.book-cover-camera-icon {
  vertical-align: -4px;
  color: white;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
/**** 本の情報入力欄 ****/
.book-profile-form {
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
}
.input-book-info {
  margin-top: 24px;
}
.input-book-label {
  color: rgb(132, 145, 165);
  font-size: 0.75rem;
  margin-bottom: 8px;
}
.input-book-value {
  width: 100%;
  padding: 0px 16px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(186, 198, 211);
  border-radius: 3px;
  color: rgb(22, 50, 92);
  font-size: 0.75rem;
  height: 48px;
}
.input-book-value::placeholder {
  color: lightgray;
}
.book-profile-totalpage {
  background-color: #d4dce4;
  border-radius: 20px;
  width: 70%;
  /*width: 380px;*/
  margin: auto;
  padding: 24px 20px;
  text-align: center;
  margin-bottom: 30px;
}
#input_total_page {
  background-color: white;
  width: 40%;
  border-radius: 12px;
  text-align: center;
  vertical-align: middle;
  padding: 0px 10px 0 24px;
  border: 1px solid #d0d5d8;
  height: 70px;
  color: #555;
  font-size: 23px;
  cursor: pointer;
}
#book_info_submit {
  font-size: 0.875rem;
  /*display: inline-block;*/
  padding: 0px 16px;
  background-color: #30c8d6;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;
  margin: auto;
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  height: 45px;
}
#book_info_submit:hover {
  background-color: rgb(35, 164, 176);
}
#book_info_submit:disabled {
  transition: all 0.3s ease-in-out 0s;
  color: rgba(186, 198, 211, 0.6);
  background-color: rgb(240, 244, 249);
}
.total-page-title {
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 1.75;
}
.total-page-description {
  font-size: 14px;
  line-height: 1.75;
  margin-bottom: 16px;
}
#title_valid_error,
#author_valid_error,
#total_page_valid_error {
  display: block;
  color: rgb(231, 82, 82);
  font-size: 0.75rem;
  margin-top: 8px;
}

/****モーダルのトータルページ更新****/
.ModalContent {
  padding: 32px;
}
.modal-totl-page {
  text-align: center;
  margin-bottom: 24px;
}
#total_page_submit_btn {
  font-size: 0.875rem;
  /*display: inline-block;*/
  padding: 0px 16px;
  background-color: #30c8d6;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;
  margin: auto;
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
  height: 45px;
}
#total_page_submit_btn:hover {
  background-color: rgb(35, 164, 176);
}
#total_page_submit_btn:disabled {
  transition: all 0.3s ease-in-out 0s;
  color: rgba(186, 198, 211, 0.6);
  background-color: rgb(240, 244, 249);
}
