.book-profile {
  width: 612px;
  padding-top: 40px;
}
.book-cover-upload-form {
  margin-top: 16px;
}

.book-cover-img {
  position: relative;
  width: 100px;
  margin: auto;

  user-select: none;
  cursor: pointer;
}
.book-new-cover {
  object-fit: contain; /*枠の中に絶対表示させる。余白は残す*/
}
.book-cover-camera-icon {
  vertical-align: -4px;
  color: white;
  text-align: center;
  cursor: pointer;
  user-select: none;
  letter-spacing: 0;
}
/**** 本の情報入力欄 ****/
.book-profile-form {
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 40px;
}
.input-book-info {
  margin-top: 24px;
}
.input-book-label {
  color: rgb(132, 145, 165);
  font-size: 0.75rem;
  margin-bottom: 8px;
}

.book-profile-totalpage {
  background-color: #d4dce4;
  border-radius: 20px;
  width: 70%;
  /*width: 380px;*/
  margin: auto;
  padding: 24px 20px;
  text-align: center;
  margin-bottom: 30px;
}
.input-total-page {
  background-color: white;
  width: 40%;
  border-radius: 12px;
  text-align: center;
  vertical-align: middle;
  padding: 0px 10px 0 24px;
  border: 1px solid #d0d5d8;
  height: 70px;
  color: #555;
  font-size: 32px;
  cursor: pointer;
}
.submit-button.book-info-submit-js {
  margin: auto;
  width: 70%;
}
.total-page-title {
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 1.75;
}
.total-page-description {
  font-size: 14px;
  line-height: 1.75;
  margin-bottom: 16px;
}
#title_valid_error,
#author_valid_error,
#total_page_valid_error,
#total_page_valid_error_slide {
  display: block;
  color: rgb(231, 82, 82);
  font-size: 0.75rem;
  margin-top: 8px;
}
@media screen and (max-width: 600px) {
  .book-profile {
    width: 100%;
  }
  /* 本の情報入力 */
  .book-profile-form {
    width: 90%;
  }
  .book-profile h1 {
    font-size: 5vw;
  }
  .book-profile-totalpage {
    width: 90%;
  }
  .total-page-title {
    font-size: 4.5vw;
  }
  .total-page-description {
    font-size: 1.5vw;
  }
  .submit-button.book-info-submit-js {
    width: 90%;
  }
}
