.col-white {
  color: #fff;
}
.col-offwhite {
  color: #f9f5f1;
}
.col-ivory {
  color: #f0e2d6;
}
.col-light-gray {
  color: #d5d1d0;
}
.col-gray {
  color: #b4aca9;
}
.col-brown {
  color: #907660;
}
.col-dark-brown {
  color: #634d3a;
}
.col-black {
  color: #403f3d;
}
.col-thin-orange {
  color: #fae6d2;
}
.col-orange {
  color: #ffb551;
}
.col-dark-orange {
  color: #ffa935;
}
