* {
  color: #2b546a;
  letter-spacing: 0.04em;
  font: 100%/1.5 'Lato', 'Hiragino Maru Gothic Pro', 'Meiryo UI', Meiryo, 'MS PGothic', sans-serif;
}

h1 {
  font-size: 1.5em;
}

li {
  list-style: none;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(160, 166, 179, 0.3);
  font-size: 0.75rem;
  position: relative; /* ポジションをrelativeまたはabsoluteに設定 */
  z-index: 1000; /* z-indexを高い値に設定 */
}
.header-menus {
  display: flex;
}
.header-menus > .link {
  margin-right: 12px;
}
.link-text {
  text-decoration: none;
  display: block;
  padding: 15px;
}
.link-text:hover,
.link-text.is_active {
  box-shadow: inset 0 -3px 0 0 #30c8d6;
  color: #1c3746;
}
.randoku-logo {
  background-color: gray;
  width: 48px;
  height: 48px;
}
.header-menus-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  width: calc(100% - 144px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-icon {
  width: 72px;
  border: none;
}
.user-menu-navigation {
  position: relative;
  background-color: gray;
}
/****ユーザーアイコンプルダウン****/
.user-navi {
  position: absolute;
  background-color: white;
  right: 0;
  top: 87%;
  width: 180px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px;
  letter-spacing: 1px;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.2s ease-out;
  /*z-index: 4;*/
}
.user-navi.active {
  visibility: visible;
  opacity: 1;
  z-index: 4;
}
.user-navi .button {
  color: rgb(43, 84, 106);
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  display: block; /* ボタンをブロック要素に設定 */
  padding: 14px 20px; /* ここでパディングを設定 */
  transition: all 0.2s ease 0s;
}
.user-menu {
  /*margin-bottom: 14px;*/
  display: block;
}

.user-menu:hover {
  background-color: #f3f4f5;
}

/***** 共通ボタン *****/
.submit-button {
  font-size: 0.875rem;
  display: flex;
  padding: 0px 16px;
  background-color: #30c8d6;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 45px;
}
.submit-button:hover {
  background-color: rgb(35, 164, 176);
}
.submit-button:disabled {
  transition: all 0.3s ease-in-out 0s;
  color: rgba(186, 198, 211, 0.6);
  background-color: rgb(240, 244, 249);
}

.upload-button {
  font-size: 0.875rem;
  display: inline-block;
  padding: 10px 16px;
  background-color: #30c8d6;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;
  margin: auto;
}
.upload-button:hover {
  background-color: rgb(35, 164, 176);
}
.submit-button-radius {
  width: 120px;
  height: 40px;
  border: 3px solid #35b7e4;
  color: #35b7e4;
  border-radius: 100vh;
  transition: 0.5s;
  margin: 0 20px;
  letter-spacing: 1px;
}
.submit-button-radius:hover {
  border: 3px solid #2090b6;
  color: #2090b6;
}
.submit-button-radius.completion {
  color: #fff;
  background: #35b7e4;
}

/**** 円のボタン ****/
.circle-btn {
  position: absolute;
  border-radius: 50%;
  bottom: -5px;
  right: -13px;
  background-color: rgb(48, 200, 214);
  width: 38px;
  height: 38px;
  cursor: pointer;
}

/**** 背景色 *****/
.bk-color-darkgray {
  background-color: #2b546a;
}
.bk-color-white {
  background-color: #fff;
}

/**** カラー *****/
.color-darkgray {
  color: #2b546a;
}
.color-darkgreen {
  color: rgb(28, 142, 153);
}

/**** フォーム ****/
.form-oneline {
  width: 100%;
  padding: 0px 16px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(186, 198, 211);
  border-radius: 3px;
  color: rgb(22, 50, 92);
  font-size: 0.75rem;
  height: 48px;
}
.form-oneline::placeholder {
  color: lightgray;
}
.memo-input-textarea {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #d0d5d8;
  padding: 24px 20px;
}
.memo-input-textarea::placeholder {
  color: lightgray;
}

/**** 画面の横幅 ****/
.inner {
  width: 960px;
  margin: 0 auto;
}
/**** SPグローバルスライドメニュー ****/
.open-slide-menu-js {
  display: none;
}
.global-sidebar {
  display: none;
}

@media screen and (max-width: 600px) {
  .header-menus-wrapper {
    display: none;
  }
  .submit-button {
    width: 100%;
  }
  .inner {
    width: 100%;
    padding: 0px 20px;
  }
  .upload-button {
    padding: 20px 20px;
    width: 100%;
  }

  /* グローバルスライドメニュー */
  .global-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    transition: background-color 0.4s ease-out;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    background-color: #2e3944;
    min-width: 280px;
    padding: 10px;
  }
  .sb-right {
    right: 0px;
    bottom: 0px;
    top: 0px;
  }
  .user-menu-navigation {
    display: none;
  }
  .open-slide-menu-js {
    display: block;
  }
  /* メニューバーを出すためにheadrとmainコンテンツに背景色をつけてjsで左に動かす*/
  .main-content-js {
    transition: transform 400ms ease;
    background-color: #fff; /* 背景色を指定 */
  }
  #header-content-js {
    transition: transform 400ms ease;
    background-color: #fff; /* 背景色を指定 */
  }
  /* グローバルメニュー */
  .global-sidebar__user-info li {
    display: flex;
    align-items: center; /* オプション：要素を縦方向の中央に配置 */
  }
  .global-sidebar__user-image {
    display: inline-block;
    margin: 20px 10px;
  }
  .profile-image {
    display: inline-block;
    vertical-align: middle;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1px solid rgba(209, 211, 223, 0.44);
    background-size: cover;
    background-position: center;
  }
  .global-sidebar__user-info a {
    display: inline-block;
    padding: 0;
  }
  .global-sidebar a {
    transition: all 0.2s ease;
    display: block;
    color: #fff;
    padding: 10px;
    line-height: 30px;
    letter-spacing: 0.1em;
  }
}
