* {
  color: rgb(144, 118, 96);
  letter-spacing: 0.04em;
  font: 100%/1.5 'Lato', 'Hiragino Maru Gothic Pro', 'Meiryo UI', Meiryo, 'MS PGothic', sans-serif;
}
body {
  background-color: #faf7f4;
}

a {
  text-decoration: none;
}

main {
  padding-bottom: 60px;
}
.common-footer {
  /*border-top: 1px solid #eee;*/
  padding: 12px 0 40px 0;
  font-size: 0.625rem;
  text-align: center;
}
h1 {
  font-size: 20px;
}

.font-large {
  font-size: 32px;
}

.font-small-12 {
  font-size: 12px;
}
.font-small-14 {
  font-size: 14px;
}
.font-small-18 {
  font-size: 18px;
}
.font-small-10 {
  font-size: 10px;
}

li {
  list-style: none;
}
.pc-user-info-btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 100%;
  transition: background-color 0.2s ease 0s;
}
.user-menu-navigation {
  position: relative;
  padding: 0px 15px;
}
.user-menu-navigation:hover {
  background-color: #f0e2d6;
}
.user-dropdown {
  display: flex;
  align-items: center;
}
.default-user-icon-img {
  border-radius: 50%;
  border: 1px solid rgba(209, 211, 223, 0.44);
  margin-right: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.user-name-dropdown {
  display: flex;
}
.fa-sort-down.dropdown {
  margin-left: 10px;
  display: inline-block;
  text-rendering: auto;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 3px #ede1d7;
  font-size: 0.75rem;
  position: relative; /* ポジションをrelativeまたはabsoluteに設定 */
  z-index: 3;
  /*z-index: 1000; */ /* z-indexを高い値に設定 */
}
.header-menus {
  display: flex;
}
.header-menus > .link {
  margin-right: 12px;
}
.link-text {
  text-decoration: none;
  display: block;
  padding: 15px;
}
.link-text:hover,
.link-text.is_active {
  box-shadow: inset 0 -3px 0 0 #ffa935;
  color: #634d3a;
}
/****　ヘッダー　****/
/****　ヘッダーロゴ　****/
.yondeco-logo {
  background-color: #ffb551;
  width: 48px;
  height: 48px;
  position: relative;
}

.yondeco-logo:hover {
  background-color: #907660;
}

.yondeco-logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 70%;
  transform: translate(-50%, -50%);
}
/**** サーチアイコン ****/
.search-icon {
  position: relative;
  display: flex;
  align-items: center;
}
.header-search-icon {
  cursor: pointer;
  transition: background-color 0.2s ease 0s;
  padding: 0px 15px;
  width: 45px;
  font-size: 14px;
  opacity: 0.4;
}
.user-menu__vertical-line {
  height: 20px;
  border-right: 2px solid #f4f1f1;
}
.header-menus-wrapper {
  padding-left: 20px;
  /*padding-right: 20px;*/
  width: calc(100% - 144px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/****ユーザーアイコンプルダウン****/
.user-navi {
  position: absolute;
  background-color: #fbf8f6;
  right: 0;
  top: 102%;
  width: 180px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px;
  letter-spacing: 1px;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.2s ease-out;
  /*z-index: 4;*/
}
.user-navi.active {
  visibility: visible;
  opacity: 1;
  z-index: 4;
}
.user-navi .button {
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  display: block; /* ボタンをブロック要素に設定 */
  padding: 14px 20px; /* ここでパディングを設定 */
  transition: all 0.2s ease 0s;
}
.user-menu {
  /*margin-bottom: 14px;*/
  display: block;
  background-color: #faf7f4;
}

.user-menu:hover,
.user-menu .button.is_active {
  background-color: #f9f5f1;
}

/***** 共通ボタン *****/
.link-button {
  user-select: none;
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
  font-size: 0.8125rem;
  text-align: center;
  min-width: 140px;
  height: 45px;
  line-height: 45px;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
}
/*枠なしのボタン*/
.link-text-button {
  font-size: 0.8125rem;
  text-align: center;
  min-width: 140px;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  color: #4ccfc9;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  margin-top: 12px;
}
.link-text-button:hover {
  color: #31b7b1;
}
.submit-button {
  font-size: 0.875rem;
  display: flex;
  padding: 0px 16px;
  background-color: #ffb551;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  height: 45px;
}
.line-button-detail {
  color: #ffb551;
  border-color: #ffb551;
}
.line-button-detail:hover {
  color: #ffa935;
  border-color: #ffa935;
}
.submit-button:hover {
  background-color: #ffa935;
}
.submit-button:disabled {
  transition: all 0.3s ease-in-out 0s;
  color: rgba(180, 172, 169, 0.6);
  background-color: rgb(245, 240, 234);
}

.upload-button {
  font-size: 0.875rem;
  display: inline-block;
  padding: 18px 90px;
  background-color: #ffb551;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border-radius: 6px;
  text-decoration: none;
  margin: auto;
}
.upload-button:hover {
  background-color: #ffa935;
}
.submit-button-radius {
  width: 112px;
  height: 40px;
  border: 2px solid #907660;
  color: #907660;
  border-radius: 100vh;
  transition: 0.5s;
  margin: 0 20px;
  letter-spacing: 1px;
}
.submit-button-radius:hover {
  border: 2px solid #634d3a;
  color: #634d3a;
}
.submit-button-radius.completion {
  color: #fff;
  background: #907660;
  border: 2px solid #907660;
}
.submit-button-radius.completion:hover {
  background: #634d3a;
  border: 2px solid #634d3a;
}
/* タブのアンダーライン */
#underline {
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 2px;
  background: #ffa935;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
#underline.show-page {
  width: 33.33%;
}

.tab__menu-item p {
  color: #b4aca9;
}

.tab__menu-item.is-active p {
  color: #ffa935;
}
.tab__menu-item {
  transition: all 0.3s; /* アニメーション */
  text-align: center;
  cursor: pointer;
  /*activeラインとタブ文字の距離*/
  padding-bottom: 10px;
}
/**** 円のボタン ****/
.circle-btn {
  position: absolute;
  border-radius: 50%;
  bottom: -5px;
  right: -13px;
  background-color: rgb(48, 200, 214);
  width: 38px;
  height: 38px;
  cursor: pointer;
}

/**** 背景色 *****/
.bk-color-darkgray {
  background-color: #2b546a;
}
.bk-color-white {
  background-color: #fff;
}

/**** カラー *****/
.color-darkgray {
  color: #2b546a;
}
.color-darkgreen {
  color: rgb(28, 142, 153);
}

/**** フォーム ****/
.form-oneline {
  width: 100%;
  padding: 0px 16px;
  background-color: #f9f5f1;
  border: 1px solid #dbc1ab;
  border-radius: 3px;
  color: #403f3d;
  font-size: 0.75rem;
  height: 48px;
}
.form-oneline::placeholder {
  color: #d0b6a0;
}
.memo-input-textarea {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #dbc1ab;
  padding: 24px 20px;
}
.memo-input-textarea::placeholder {
  color: #d0b6a0;
}

/**** 画面の横幅 ****/
.inner {
  width: 960px;
  margin: 0 auto;
}
/**** SPグローバルスライドメニュー ****/
.open-slide-menu-js {
  display: none;
}
.global-sidebar {
  display: none;
}
.main-content-js.tabbed-content {
  min-height: calc(100vh - 48px);
  background-color: #f5f0ea;
}
.main-content-js.book-show-upper-inner {
  background-color: #faf7f4;
}
@media screen and (max-width: 600px) {
  main {
    background-color: #faf7f4;
  }
  .common-footer {
    background-color: #faf7f4;
  }
  .header-menus-wrapper {
    display: none;
  }
  .submit-button {
    width: 100%;
  }
  .inner {
    width: 100%;
    padding: 0px 20px;
  }
  .upload-button {
    padding: 20px 20px;
    width: 100%;
  }
  .font-large {
    font-size: 24px;
  }

  /* グローバルスライドメニュー */
  .global-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    transition: background-color 0.4s ease-out;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    background-color: #2e3944;
    min-width: 280px;
    padding: 10px;
  }
  .sb-right {
    right: 0px;
    bottom: 0px;
    top: 0px;
  }
  .user-menu-navigation {
    display: none;
  }

  /* spスライド用 ハンバーガーメニュー */
  .open-slide-menu-js {
    display: flex;
    float: right;
  }
  .sb-toggle-right {
    font-size: 2.2em;
    float: right;
    cursor: pointer;
    line-height: 48px;
    color: #2b546a;
    padding: 0 10px;
    transition: background-color 0.2s;
  }
  .header-bars {
    display: inline-block;
    text-rendering: auto;
  }

  /* メニューバーを出すためにheadrとmainコンテンツに背景色をつけてjsで左に動かす*/
  .main-content-js {
    transition: transform 400ms ease;
    min-height: calc(100vh - 48px);
  }
  #header-content-js {
    transition: transform 400ms ease;
    background-color: #faf7f4; /* 背景色を指定 */
  }
  /* グローバルメニュー */
  .global-sidebar__user-info li {
    display: flex;
    align-items: center; /* オプション：要素を縦方向の中央に配置 */
  }
  .global-sidebar__user-image {
    display: inline-block;
    margin: 20px 10px;
  }
  .profile-image {
    display: inline-block;
    vertical-align: middle;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1px solid rgba(209, 211, 223, 0.44);
    background-size: cover;
    background-position: center;
  }
  .global-sidebar__user-info a {
    display: inline-block;
    padding: 0;
  }
  .global-sidebar a {
    transition: all 0.2s ease;
    display: block;
    color: #fff;
    padding: 10px;
    line-height: 30px;
    letter-spacing: 0.1em;
  }
}
