.book-index {
  margin: 40px auto 0;
  color: #2b546a;
  letter-spacing: 0.04em;
}
.user-profile {
  display: flex;
  padding: 16px 100px;
  /*border: 1px solid #000;*/
  border-radius: 8px;
  padding-top: 40px;
  margin-bottom: 90px;
}
.user-profile-item {
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative; /**/
}

.user-profile-item.user-status {
  display: flex;
  justify-content: center;
}
.user-profile-item.user-status img {
  margin-right: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
  border: 0;
  height: auto;
  width: 80px;
  margin-right: 16px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  float: left;
}
.user-profile-item.book-count {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-profile-item.clear-lessons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.seidoku-book-count {
  display: flex;
}
.user-profile-name {
  font-size: 14px;
}
.user-profile-imgs-count {
  font-size: 20px;
}
.user-profile-cleared-text {
  font-size: 12px;
  margin-top: -6px;
}
.user-profile-cleard-count {
  display: flex;
  align-items: center;
  font-size: 32px;
  margin-left: 4px;
}
.user-profile-cleard-count i {
  font-size: 22px;
  vertical-align: middle;
  line-height: 1.5;
}
.user-profile-cleard-count .fa-book {
  margin-right: 4px;
}
.user-profile__separator {
  margin: 0 40px;
  background-color: #e4e4e4;
  width: 1px;
  height: 96px;
  display: flex;
}
/*** テンプレタブ ***/
#underline.index-page {
  width: 50%;
}
.tab__menu-item.index-page {
  width: 50%;
}
.tabbled-book-index {
  width: 100%;
  /* 3つめはimgsエリアからの距離 */
  margin: 20px 0px 0px;
  position: relative;
}
.tabbed-index-work-area {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  border-bottom: 2px solid #e3e1e1; /*タブが移動する薄いライン*/
  position: relative;
}
.tab__panel.index-page {
  background-color: #fff;
}

/* ランキングボタン */
.index-book-ranking {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 32px;
}
.ranking-sort-btn {
  position: relative;
  cursor: pointer;
}
.ranking-sort {
  width: 44px;
  height: auto;
  margin-left: 12px;
}
.ranking-sort-navi {
  position: absolute;
  background-color: white;
  right: 0;
  top: 87%;
  width: 180px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px;
  letter-spacing: 1px;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.2s ease-out;
}
/* ランキングのプルダウン */
.ranking-sort-navi.active {
  visibility: visible;
  opacity: 1;
  z-index: 4;
}
.ranking-menu .button {
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  display: block; /* ボタンをブロック要素に設定 */
  padding: 14px 20px; /* ここでパディングを設定 */
  transition: all 0.2s ease 0s;
}
.ranking-menu {
  display: block;
}
.ranking-menu:hover {
  background-color: #f9f5f1;
}
.fa-image,
.fa-book,
.fa-note-sticky {
  padding-bottom: 4px;
}

/****** 本の一覧 ******/
.index-user-lesson-label {
  display: flex;
  margin-top: 20px;
  margin-bottom: 24px;
}
.index-lesson-label-icon {
  font-size: 16px;
  vertical-align: baseline;
}
.index-user-book-table {
  margin-top: 56px;
}
.index-user-last-time-book-table {
  padding-top: 36px;
  background-color: white;
  z-index: 1;
  position: relative;
  /*border-top: 2px solid #e9edf1;*/
  z-index: 2;
}
.rank-title {
  font-size: 20px;
}
.index-lesson-label {
  font-size: 16px;
  margin-left: 8px;
}
.no-rank-book {
  margin-top: 32px;
  margin-bottom: 60px;
  font-size: 20px;
}
.no-history {
  margin-top: 32px;
  margin-bottom: 60px;
  font-size: 20px;
}
.index-user-book-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.index-user-book {
  width: 70%;
  cursor: pointer;
}
.index-user-book a {
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
}
.index-user-book-memo-wrapper {
  width: 28%;
}
.index-user-book-memo {
  display: flex;
  width: 100%;
  align-items: center;
}
.link-button.index-user-book-memo-btn {
  margin-top: 10px;
  width: 88%;
  text-decoration: none;
}

.index-user-book-cover {
  width: 18.5%;
  position: relative;
  margin-right: 32px;
}
.index-user-book-title {
  width: 86%;
}
.index-crown {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.index-book-title-label {
  font-size: 10px;
}
.index-book-title {
  font-size: 16px;
}
.index-book-progress {
  font-size: 12px;
}
.index-book-remaining {
  font-size: 12px;
}
.index-book-memo {
  display: flex;
  margin-top: -4px;
  align-items: center;
}
.index-memo-icon {
  margin-right: 8px;
}

.index-book-memo-count {
  font-size: 32px;
}
.index_memo__separator {
  margin: 0 20px;
}
.index-book-label {
  font-size: 12px;
}
.index-book-memo-unit {
  font-size: 18px;
}

/* インデックスのランキング */
/* ランキングボタン */
.index__btn-around {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
}
.SP-index-ranking-btn {
  display: none;
}
.tabbed-line {
  width: 100%;
  height: 2px;
  margin: 0;
  background-color: #e9edf1;
  display: flex;
}
.index_tab__panel-btn-js {
  display: none;
}
/**** モバイル版 *****/
/***** slideページ ****/
@media screen and (max-width: 600px) {
  .user-profile {
    flex-direction: column;
    align-items: center;
  }
  .user-profile__separator {
    margin: 20px 0px;
    width: 120px;
    height: 1px;
  }
  .user-profile-name {
    font-size: 4vw;
  }
  .user-profile-cleard-count {
    font-size: 7vw;
  }
  .user-profile-cleard-count i {
    font-size: 5vw;
  }
  .user-profile-cleared-text {
    font-size: 3.5vw;
    margin-top: -2px;
    letter-spacing: 1px;
  }
  /****タブ****/
  .tabbed-index-work-area {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding: 0px;
  }
  /* ランキングボタン */
  .rank-title {
    font-size: 18px;
  }
  .no-rank-book {
    font-size: 18px;
  }
  .no-history {
    font-size: 18px;
  }
  .SP-index-ranking-btn {
    display: flex;
    justify-content: end;
    margin-top: 20px;
  }
  .PC-index-ranking-btn {
    display: none;
  }
  /**** タブの下 ****/
  /*  前回の続き */
  .index-user-book-info {
    display: inherit;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .index-user-book-table {
    flex-direction: column;
    /*display: flex;*/
    justify-content: space-between;
    /*width: 90%;*/
    margin: 0 auto;
  }
  .index-user-book {
    margin-bottom: 12px;
    margin-top: 10px;
    width: 100%;
  }
  .link-button.index-user-book-memo-btn {
    margin-top: 0px;
    width: 100%;
  }
  .index-user-book-cover {
    width: 50%;
    margin-right: 24px;
  }
  .index-book-title {
    font-size: 3.5vw;
  }
  .index-book-progress {
    font-size: 3vw;
  }
  .index-book-remaining {
    font-size: 3vw;
  }
  .index-user-book-memo {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
  }
  .index-book-label {
    font-size: 3vw;
  }
  .index-user-book-memo-wrapper {
    width: 100%;
  }

  .index-user-book-memo-count p {
    margin-bottom: 4px;
    letter-spacing: 1px;
  }
  .index-book-memo-count {
    font-size: 6vw;
  }
  .index-book-memo-unit {
    font-size: 3.5vw;
  }
  .index_memo__separator {
    margin: 0px 24px;
    width: 1px;
    height: 60px;
    background-color: #e9edf4;
    display: flex;
  }
}
