/* hiddenクラスがないとマスクとモーダルが表示される（JavaScriptでhiddenクラスを消したとき）*/
#mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  position: fixed; /* スクロールで移動しないようmodalの位置を固定します */
  top: 10vh;
  /* 以下3行：モーダルを左右中央揃えにする方法 */
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s; /* transitionでアニメーションを作成 */
  z-index: 2; /* マスクより上に重なるようにする */
  width: 935px; /* showビューの幅に合わせて設定 */
}

/* hiddenクラスで最初は表示されないようにする */
#mask.hidden {
  opacity: 0;
  visibility: hidden;
}

#modal.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8); /* 大きさ0.8倍から等倍にモーダルが拡大される */
}

/* ランキングボタン */
.SP-index-ranking-btn {
  display: none;
}
.tabbed-line {
  width: 100%;
  height: 2px;
  margin: 0;
  background-color: #e9edf1;
  display: flex;
}

/**** モバイル版 *****/
/***** index-upper ****/
@media screen and (max-width: 600px) {
  /****タブ****/
  .tabbed-index-work-area {
    display: flex;
    width: 100%;
    overflow-x: scroll;
  }
  .tab__menu-item {
    width: 240px;
  }
  .tab-index-book-progress {
    letter-spacing: 1px;
    padding: 17px;
    margin-right: 4px;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 200px;
  }
  .tabbled-sort-area {
    display: flex;
    padding: 0px;
  }
  .tabbled-sort-area .tabbed-index-work-area {
    width: 100%;
  }
  .tab-width {
    width: 90px;
  }
  /* ランキングボタン */
  .SP-index-ranking-btn {
    display: flex;
    justify-content: end;
    margin-top: 20px;
  }
  .PC-index-ranking-btn {
    display: none;
  }
}
