.landing {
}
/* ヘッダー */
.landing-header-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 32px;
  position: fixed;
  z-index: 2;
  top: 0;
  background-color: #faf7f4;
}
.yondeco-landing-logo {
  width: 112px;
}
.yondeco-landing-logo img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.submit-button.landing {
  height: 40px;
  font-size: 0.75rem;
}
.landing-introduction-main {
  padding: 136px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.landing-intoroduction_title {
  font-weight: bold;
  font-size: 44px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.landing-intoroduction_lead {
  margin-top: 16px;
  line-height: 2;
  margin-bottom: 48px;
}
.submit-button.landing-intoroduction {
  min-width: 200px;
  line-height: 48px;
}
.landing-introduction_img-container {
  padding: 0px 4.16% 0;
  overflow: hidden;
  background: #ffd966;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 64px;
}
.landing-top-img {
  height: 100%;
  position: relative;
  bottom: -1px;
  width: 100%;
  max-width: 1000px;
  min-height: 450px;
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  .landing-header-main {
    padding: 12px 6%;
  }
  .landing-intoroduction_title {
    font-size: 5.5vw;
    width: 80%;
  }
  .landing-intoroduction_lead {
    font-size: 3vw;
    width: 80%;
    margin-bottom: 24px;
  }
  .landing-introduction-main {
    padding: 100px 0 0;
  }
  .landing-introduction_img-container {
    background-color: #faf7f4;
  }
  .landing-top-img {
    min-height: 170px;
  }
  .landing-introduction_img-container {
    padding: 0px 16px 0%;
    overflow: hidden;
    background: #ffd966;
    width: 100%;
    display: inherit;
    justify-content: inherit;
    margin-top: 40px;
  }
}
