.memo-search-bk {
  background-color: #f0f4f9;
}
.memo-search-result-white {
  background-color: white;
}
.search-result-title {
  font-size: 24px;
  position: relative;
}
.search-result-title::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 3px;
  left: 50%;
  margin: 10px 0 0 -12px;
  display: block;
  background: #30c8d6;
}
.search-result-text {
  margin-top: 24px;
}
.search-result-item {
  text-align: center;
  line-height: 2;
  margin-top: 120px;
  font-size: 20px;
}
#search-select {
  outline: none;
  text-indent: 0.01px;
  vertical-align: middle;
  padding: 0 12px;
  border: 1px solid #d0d5d8;
  color: #555;
  width: fit-content;
  border-radius: 8px;
  font-size: 14px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.search-selectbox {
  position: relative;
  width: fit-content;
}
.search-selectbox::after {
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-bottom: solid 2px #d0d5d8;
  border-right: solid 2px #d0d5d8;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 16px;
}

/***** 検索結果 *****/
.search-header {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  font-size: 20px;
}
.search-memo-info {
  font-size: 12px;
  padding: 12px 0px 20px 8px;
  color: #d0d5d8;
}
.search-selected-count {
  font-size: 24px;
}
.search-memo-unit {
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  .memo-search-bk {
    width: 100%;
  }
  #search-select {
    width: 100%;
    font-size: 3vw;
  }
  /*.search-selectbox {
    width: 100%;
  }*/
  .search-selectbox::after {
    transform: translate(50%, -50%) rotate(45deg);
    top: 2px;
    right: 20px;
  }
  .search-result-title {
    font-size: 5vw;
  }
  .search-result-text {
    font-size: 3.5vw;
  }
  /* 検索結果 */
  .search-text {
    font-size: 5vw;
  }
}
