.book-show-bk {
  background-color: #f2f4f7;
}
/*.book-show-white {
  background-color: white;
}*/
.book-show-upper-inner {
  padding-top: 48px;
  margin: 0 auto;
}
#img_read_status_count span {
  padding: 0px 6px 0px 3px;
}
#img_read_status_count {
  margin-bottom: 20px;
}
.seidoku-tabbed-inner-header {
  display: flex;
  justify-content: space-between;
}
.seidoku_status_count {
  letter-spacing: 2px;
  font-size: 18px;
  color: #634d3a;
}
.seidoku_status_count span {
  padding: 0px 6px;
}
.seidoku_status_count i {
  font-size: 16px;
  vertical-align: inherit;
}
.show-memo-plus-count {
  display: flex;
  align-items: center;
  justify-content: end;
}
.show-memo-plus-btn {
  position: relative;
  cursor: pointer;
  margin-left: 20px;
  vertical-align: middle;
  font-size: 58px;
}
.memo-plus-btn:hover {
  color: #634d3a;
}
.memo-plus-btn.overlay {
  font-size: 20px;
  color: white;
}
.icon-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.memo-plus-btn {
  text-align: center;
}

.tabbed-content {
  padding-top: 24px;
  /*background-color: #fff;*/
  /*background-color: #f2f4f7;*/
  z-index: 1;
  position: relative;
  /*border-top: 2px solid #e9edf1;*/
  z-index: 2;
}

.tabbed-content-bk {
  background-color: #f2f4f7;
}

/******* メモ ********/
.tabbed-memos-content {
  padding-bottom: 60px;
}
.tabbed-memo-no-content {
  text-align: center;
  margin-top: 32px;
  font-size: 20px;
}

.tabbed-memo-content {
  /*border: 1px solid gray;*/
  border-radius: 8px;
  padding: 24px 28px;
  margin-top: 16px;
  background-color: #faf7f4;
  position: relative;
}
.memo-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.memo-ellipsis {
  font-size: 20px;
}
.memo-created-at {
  font-size: 12px;
}
.memo-content-type {
  font-size: 12px;
}
.memo-edit-btn {
  position: relative;
  cursor: pointer;
}
/******* メモコンテンツ ********/
.memo-content-type {
  padding-bottom: 16px;
}

/******* ナビゲーション ********/
.memo-edit-navi {
  position: absolute;
  background-color: white;
  right: 20px;
  top: 38%;
  width: 70px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px;
  letter-spacing: 1px;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.2s ease-out;
  z-index: 10;
}

.memo-edit-navi.active {
  visibility: visible;
  z-index: 10;
  opacity: 1;
}
.edit-menu .button {
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  display: block; /* ボタンをブロック要素に設定 */
  padding: 14px 20px; /* ここでパディングを設定 */
  transition: all 0.2s ease 0s;
}
.edit-menu {
  display: block;
  background-color: #faf7f4;
}
.edit-menu:hover {
  background-color: #f9f5f1;
}
/**** モバイル版 *****/
/***** memos-new ****/
@media screen and (max-width: 600px) {
  .seidoku-tabbed-inner-header {
    display: inherit;
  }
  .seidoku_status_count {
    margin-bottom: 8px;
    font-size: 16px;
  }
  .tabbed-memo-no-content {
    margin-top: 52px;
    font-size: 16px;
  }
  #img_read_status_count {
    font-size: 12px;
    margin-bottom: 12px;
  }
  .show-memo-plus-count {
    margin-top: 0px;
    text-align: right;
  }
  .show-memo-plus-count p {
    padding-top: 0px;
  }
  .sw_modal_trigger {
    /*margin-top: 12px;*/
    display: inline-block;
    margin-bottom: 24px;
  }
  .fa-circle.memo-plus-btn {
    font-size: 60px;
  }
  .overlay {
    top: 50%;
  }

  .show-memo-plus-btn {
    position: fixed;
    right: 18px;
    bottom: 20px;
    z-index: 1;
    font-size: 1.75em;
    justify-content: end;
    text-shadow: 0px 1px 20px rgba(219, 193, 171, 0.5);
  }
  .tabbed-memo-content {
    margin-top: 12px;
  }

  /******* ナビゲーション ********/
  .memo-edit-navi {
    right: 0px;
  }
}
