.memo-new-content-inner {
  border-radius: 10px;
  background-color: white;
  margin-top: 40px;
  padding: 40px 50px;
}
.memo-new-content-header {
  text-align: center;
  margin-bottom: 24px;
}
.memo-content-header {
  display: flex;
  justify-content: space-between;
}
.memo-new-time-now {
  margin-top: 8px;
  font-size: 12px;
}

.memo-content-header-info {
  display: flex;
  align-items: center;
}
.new-memo-i {
  padding-left: 12px;
}

/*****セレクトボックス*****/
.memo-type-select {
  outline: none;
  text-indent: 0.01px;
  vertical-align: middle;
  padding: 0 12px;
  border: 1px solid #d0d5d8;
  color: #555;
  width: fit-content;
  border-radius: 8px;
  font-size: 14px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.memo-content-type-selectbox {
  position: relative;
  width: fit-content;
}
.memo-content-type-selectbox::after {
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-bottom: solid 2px #d0d5d8;
  border-right: solid 2px #d0d5d8;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 16px;
}

/**** memos-new ****/
@media screen and (max-width: 600px) {
  .memo-new-content-inner {
    width: 100%;
    padding: 0px 20px;
  }
  .memo-type-select {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .memo-search-bk.mob {
    background-color: #fff;
  }
  .memo-content-type-selectbox {
    margin: 20px 0px;
    width: 100%;
  }
  .memo-content-header {
    display: block;
  }
  .memo-submit-button {
    margin: auto;
    width: 100%;
    margin-bottom: 20px;
  }
  .memo-new-content-input-area {
    padding-bottom: 20px;
  }
  .memo-input-textarea {
    display: block;
  }
  .memo-content-type-selectbox::after {
    transform: translate(50%, -50%) rotate(45deg);
  }
  .memo-content-header-info {
    justify-content: space-between;
  }
}
