.book-show {
  margin: 40px auto 0;
}
.book-info-wrapp {
  display: flex;
  justify-content: space-between;
}
.book-info-detail {
  width: 70%;
  margin-left: 30px;
}
.book-status {
  display: flex;
  align-items: center;
}
.book-input-info {
  margin-top: 16px;
}
.book-input-info > h1 {
  margin-bottom: 10px;
}
.book-input-info > p {
  margin-bottom: 10px;
}
.book-cover {
  width: 15%;
  position: relative;
}
.book-cover i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.book-cover img {
  width: 100%;
  height: auto;
}
.book-progress {
  display: flex;
  align-items: center;
}
.book-progress-icon.show-tabs i {
  font-size: 38px;
  line-height: 1.5;
}
.book_reading_progress.show-tabs {
  margin-left: 12px;
  letter-spacing: 3.4px;
  font-size: 36px;
  margin-left: 12px;
}
.fa-circle-question.show-tabs {
  font-size: 20px;
  margin-left: 6px;
}
.seidoku-remaining-js {
  letter-spacing: 2px;
}
.seidoku-remaining-js.show-tab {
  margin-bottom: 16px;
}
/*.tabbed-work-area {
  border-bottom: 1px solid rgb(48, 200, 214);
  margin-top: 16px;
  display: flex;
}*/

/*.tab-book-progress.is-active {
  background-color: #f0f4f9;
  z-index: 2;
}*/
/*.book-progress .book_reading_progress {
  background-color: rgb(35, 164, 176);
}
.book-progress .book_reading_progress {
  backgro*/
.sw_modal_trigger {
  color: gray;
  font-size: 12px;
}
.tabbed-content {
  padding-top: 24px;
  /*background-color: #fff;*/
  z-index: 1;
  position: relative;
  /*border-top: 2px solid #e9edf1;*/
  z-index: 2;
}
.upload-file-form {
  margin-top: 24px;
}

#upload-form {
  text-align: center;
}
.upload-description {
  text-align: center;
  margin-top: 8px;
  font-size: 12px;
  color: gray;
  line-height: 2;
}
.imgs-count {
  text-align: right;
}
.img-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 60px;
}
.img-thumbnail {
  width: 31%;
  margin-top: 10px;
  margin-bottom: 24px;
  border-radius: 16px;
  cursor: pointer;
  background-color: #fff;
}
.img-thumbnail:hover {
  transition: 0.3s ease-in-out;
  transform: translate3d(0, -1px, 0);
  box-shadow: rgba(0, 0, 0, 0.09) 0 3px 20px !important;
}
.img-thumbnail img {
  width: 100%;
  border-radius: 16px 16px 0 0;
}
.thumbnail-wide {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 50%;
}
.img-info {
  display: flex;
  justify-content: space-between;
  margin: 4px 18px 18px 18px;
}

.img-item-name {
  font-size: 16px;
  color: gray;
}
.img-updated {
  font-size: 10px;
}
.img-item-icon {
  display: flex;
  align-items: center;
  color: gray;
}
.is_already_read_check {
  margin-right: 8px;
}
.img-name {
  margin-bottom: 4px;
}

/* 以前のデザインフォルダ風
.tab-show-book-progress {
  border-bottom: none;
  padding: 14px 42px;

  text-align: center;
  background-color: #d4dce4;
  border-top-right-radius: 100px 250px;
  border-top-left-radius: 100px 250px;
  font-size: 12px;
  cursor: pointer;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}0706*/

#underline {
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 2px;
  background: rgb(48, 200, 214);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
#underline.show-page {
  width: 33.33%;
}

/*1*/
.tabbled-book-show {
  width: 100%; /*50->100 0706*/
  /* 3つめはimgsエリアからの距離 */
  margin: 20px 0px 0px; /* 20px auto; 0706*/
  position: relative;
  /*display: flex;
  justify-content: space-between;
  margin-top: 60px;0706*/
}

.tab__underline {
  position: relative;
}
/*** テンプレタブ ***/
.tabbed-show-work-area {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  border-bottom: 2px solid rgb(240, 244, 249); /*タブが移動する薄いライン*/
  position: relative;
  /*display: flex;
  padding: 0 10px;0706*/
}
.tabbled-book-show .tabbed-show-work-area {
  width: 100%;
}
.tab__menu-item {
  transition: all 0.3s; /* アニメーション */
  text-align: center;
  cursor: pointer;
  /*activeラインとタブ文字の距離*/
  padding-bottom: 10px;
}
.tab__menu-item p {
  color: rgb(186, 198, 211);
}
.tab__menu-item.show-page {
  width: 33.33%;
}

.tab__menu-item.is-active p {
  color: rgb(48, 200, 214);
}

/* is-activeがついている時のスタイル */
.tab__menu-item.is-active {
  /*background-color: #f0f4f9;*/
  cursor: auto;
  z-index: 2;
  opacity: 1;
}
.seidoku_memo_key {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #d4dce4;
  border-radius: 50%;
  padding: 8px 11.6px;
  transform: translate(30%, -40%);
}

/* タブパネル */
.tab__panel {
  width: 100%;
  background-color: #f2f4f7;
}

.tab__panel-box {
  display: none;
}

/* is-showがついている時のスタイル */
.tab__panel-box.is-show {
  display: block;
}
.index_tab__panel-btn-js.is-show {
  display: block;
}
/*.tabbled-book-show .tabbed-show-work-area {
  width: 50%;
}0706*/

/*tab__menuのこと
.tabbed-show-work-area {
  display: flex;
  padding: 0 10px;
}0706*/

/* tabのこと
.tabbled-book-show {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}*/

/* tab__menuのこと
.tabbled-book-show .tabbed-show-work-area {
  width: 50%;
}0706*/

/* 未使用
.tab-book-progress {
  border: 1px solid rgb(48, 200, 214);
  border-bottom: none;
  border-radius: 8px 8px 0 0;
  padding: 14px 24px;
  background-color: #d4dce4;
  cursor: pointer;
  position: relative;
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  border-top-right-radius: 100px 250px;
  border-top-left-radius: 100px 250px;
}0706*/

/* commonでつけたmain-content-jsの高さを無効にする */
.main-content-js.book-show-upper-inner {
  min-height: inherit;
}
/**** モバイル版 *****/
/***** show-upper ****/
@media screen and (max-width: 600px) {
  .memo-new-content-inner {
    width: 100%;
    padding: 0px 20px;
  }
  .book-info-wrapp {
    align-items: end;
  }
  .book-info-detail {
    width: 60%;
    margin-left: 0px;
  }
  .book-cover {
    width: 30%;
    margin-bottom: 10px;
  }
  .seidoku-remaining-js.show-tab {
    margin-bottom: 16px;
  }
  /****タブ****/
  .tabbed-show-work-area {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding: 0px;
  }
  .tab__menu-item {
    /*width: 240px;0706*/
  }
  .tab__menu-item.show-page p {
    font-size: 4vw;
  }
  /*.tab-show-book-progress {
    width: 33.33%;
    text-align: center;0706--*/
  /*letter-spacing: 1px;
    padding: 17px;
    margin-right: 4px;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 200px;
  }0706*/

  .tab-width {
    width: 90px;
    margin: 0 auto;
  }

  /****アップロードボタンの下****/
  .upload-description {
    font-size: 2.5vw;
  }
  .imgs-count {
    margin-top: 24px;
    margin-bottom: 8px;
  }

  /****サムネイル****/
  .img-thumbnails {
    justify-content: center;
  }
  .img-thumbnail {
    width: 100%;
    margin-top: 0px;
  }
  .img-item-name {
    margin-top: 12px 0 8px 0;
  }
  .img-name {
    font-size: 4.5vw;
  }
  .is_already_read_check {
    margin-right: 14px;
    font-size: 7.5vw;
  }
  .img_bookmark_check {
    font-size: 7.5vw;
  }
  /* ボタンの表示、非表示 */
  /* .index_tab__panel-btn-js {
    display: none;
  }
  .index_tab__panel-btn-js.is-show {
    display: block;
  }*/
}
