.book-show {
  margin: 40px auto 0;
}
.book-info-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.book-info-detail {
  width: 70%;
  margin-left: 30px;
}
.book-status {
  display: flex;
  align-items: center;
}
.book-input-info {
  margin-top: 16px;
}

.book-input-info h1 {
  margin-bottom: 12px;
  cursor: pointer;
}
.book-input-info a {
  text-decoration: none;
}
.book-input-info h1:hover {
  color: #30c8d6;
}

.book-input-info h1:hover .fa-pen-to-square {
  color: #30c8d6;
}

h1 .fa-pen-to-square {
  margin-left: 24px;
}
.book-input-info > p {
  margin-bottom: 10px;
}
.book-input-info > p:last-child {
  margin-bottom: 0;
}
.book-cover {
  width: 13%;
  position: relative;
}

.book-cover img {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}
/**/
.book-cover:hover .book-cover-show {
  filter: brightness(0.6); /* 値を調整して暗さのレベルを変更 */
}
.book-cover:hover .overlay-icon {
  visibility: visible;
}

.overlay-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -440%);
  visibility: hidden;
}
.overlay-icon .fa-pen-to-square {
  color: white;
}
/**/
.book-progress {
  display: flex;
  align-items: center;
}
.book-progress-icon.show-tabs i {
  font-size: 32px;
  line-height: 1.5;
}
.book_reading_progress.show-tabs {
  margin-left: 12px;
  letter-spacing: 3.4px;
  margin-left: 12px;
}
.fa-circle-question.show-tabs {
  font-size: 20px;
  margin-left: 6px;
}
.seidoku-remaining-js {
  letter-spacing: 2px;
}
.seidoku-remaining-js.show-tab {
  margin-bottom: 16px;
}

.sw_modal_trigger {
  color: gray;
  font-size: 12px;
}
.tabbed-content {
  padding-top: 24px;
  z-index: 1;
  position: relative;

  z-index: 2;
}
.upload-file-form {
  margin-top: 24px;
}

#upload-form {
  text-align: center;
}
.upload-description {
  text-align: center;
  margin-top: 8px;
  font-size: 12px;
  color: gray;
  line-height: 2;
}
.imgs-count {
  text-align: right;
}
.img-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 60px;
}
.img-thumbnail {
  width: 31%;
  margin-top: 10px;
  margin-bottom: 24px;
  border-radius: 16px;
  cursor: pointer;
  background-color: #fff;
}
.img-thumbnail:hover {
  transition: 0.3s ease-in-out;
  transform: translate3d(0, -1px, 0);
  box-shadow: rgba(0, 0, 0, 0.09) 0 3px 20px !important;
}
.img-thumbnail img {
  width: 100%;
  border-radius: 16px 16px 0 0;
}
.thumbnail-wide {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 50%;
}
.img-info {
  display: flex;
  justify-content: space-between;
  margin: 4px 18px 18px 18px;
}

.img-item-name {
  font-size: 16px;
  color: gray;
}
.img-updated {
  font-size: 10px;
}
.img-item-icon {
  display: flex;
  align-items: center;
  color: gray;
}
.is_already_read_check {
  margin-right: 8px;
}
.img-name {
  margin-bottom: 4px;
}

/*1*/
.tabbled-book-show {
  width: 100%;
  /* 3つめはimgsエリアからの距離 */
  margin: 20px 0px 0px;
  position: relative;
  margin-top: 80px;
}

.tab__underline {
  position: relative;
}
/*** テンプレタブ ***/
.tabbed-show-work-area {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  border-bottom: 2px solid rgb(240, 244, 249); /*タブが移動する薄いライン*/
  position: relative;
}
.tabbled-book-show .tabbed-show-work-area {
  width: 100%;
}

.tab__menu-item.show-page {
  width: 33.33%;
}

/* is-activeがついている時のスタイル */
.tab__menu-item.is-active {
  /*background-color: #f0f4f9;*/
  cursor: auto;
  z-index: 2;
  opacity: 1;
}
.seidoku_memo_key .lock-key {
  color: #bac6d3;
  padding-right: 6px;
}
.seidoku-key-wrapper {
  display: flex;
  justify-content: center;
}
/* タブパネル */
.tab__panel {
  width: 100%;
  background-color: #f2f4f7;
}

.tab__panel-box {
  display: none;
}

/* is-showがついている時のスタイル */
.tab__panel-box.is-show {
  display: block;
}
.index_tab__panel-btn-js.is-show {
  display: block;
  width: 100%;
}

/* commonでつけたmain-content-jsの高さを無効にする */
.main-content-js.book-show-upper-inner {
  min-height: inherit;
}
/**** モバイル版 *****/
/***** show-upper ****/
@media screen and (max-width: 600px) {
  .memo-new-content-inner {
    width: 100%;
    padding: 0px 20px;
  }
  .tabbled-book-show {
    margin-top: 60px;
  }
  .book-info-detail {
    width: 60%;
    margin-left: 0px;
  }
  .book-input-info h1 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .book-input-info h1:active {
    color: desiredColor; /* 例えば、#ff0000 など、希望の色に置き換えてください */
  }

  .book-input-info h1:active .fa-solid {
    color: desiredColor; /* こちらも、希望の色に置き換えてください */
  }
  .book-cover {
    width: 30%;
  }
  .seidoku-remaining-js.show-tab {
    margin-bottom: 16px;
  }
  /****タブ****/
  .tabbed-show-work-area {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding: 0px;
  }
  .tab__menu-item.show-page p {
    font-size: 4vw;
  }

  .tab-width {
    width: 90px;
    margin: 0 auto;
  }
  .tab__panel {
    background-color: inherit;
  }
  .seidoku_memo_key .lock-key {
    padding-right: 4px;
  }
  .tab-disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  /****アップロードボタンの下****/
  .upload-description {
    font-size: 2.5vw;
  }
  .imgs-count {
    margin-top: 24px;
    margin-bottom: 8px;
  }

  /****サムネイル****/
  .img-thumbnails {
    justify-content: center;
  }
  .img-thumbnail {
    width: 100%;
    margin-top: 0px;
  }
  .img-item-name {
    margin-top: 12px 0 8px 0;
  }
  .img-name {
    font-size: 4.5vw;
  }
  .is_already_read_check {
    margin-right: 14px;
    font-size: 7.5vw;
  }
  .img_bookmark_check {
    font-size: 7.5vw;
  }
}
