/**** seidoku-tab ****/
/* hiddenクラスで鍵が表示されないようにする */
.fa-lock.memo_key_hidden {
  display: none;
}
/**** popup_seidoku ****/
.judge-popup {
  box-shadow: 0 2px 10px rgba(0,0,0,0.04);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 8px;
  padding: 32px;
  font-family: "Lato", "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo, "MS PGothic", sans-serif;
  box-sizing: border-box;
  background-color: #f9fbfe;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  border-left: 8px solid #30c8d6;
  border-radius: 3px;
  z-index: 80;
}

.judge-popup__hidden {
  transform: translateY(100%);
  opacity: 0;
}

#judged-seidoku {
  border-left: 8px solid #30c8d6;
  border-radius: 3px;
  z-index: 80
}

.judge-popup__close {
  transition: opacity 0.2s;
  position: absolute;
  top: 16px;
  right: 16px;
  color: #647288;
  cursor: pointer
}

.judge-popup__title {
  font-size: 2rem;
  color: #ff708f;
  letter-spacing: 2px;
  margin-bottom: 16px;
  font-family: "Quicksand", "M PLUS Rounded 1c", "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo, "MS PGothic", sans-serif
}

.judge-popup__message {
  color: #647288;
  font-size: 0.875rem;
  line-height: 1.5
}

.judge-popup__message--seidoku {
  padding-right: 230px
}

/**** swiper ****/
.swiper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.swiper-wrapper {
  align-items: center;
  width: 100%;
  height: 100%;
}
.swiper-slide {
  font-weight: bold;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sw_img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* ページネーション */
.swiper-pagination-fraction {
  bottom: 20px;
}
.sw_img_name {
  position: fixed;
  top: 15px;
  margin: 0;
  font-size: 10px;
}
.sw_book_title {
  font-size: 14px;
}
.sw_updated {
  position: absolute;
  width: 90%;
  bottom: 50px;
  text-align: center;
}
.sw-read-btn {
  margin-bottom: 12px;
  width: 120px;
  margin-top: 10px;
  border: 2px solid #27acd9;
  color: #27acd9;
  border-radius: 100vh;
  transition: 0.5s;
}
.sw-read-btn.completion {
  color: #fff;
  background: #27acd9;
}
/**** bookmark ****/
.sw_bookmark_btn {
  border: 2px solid #27acd9;
  color: #27acd9;
  border-radius: 100vh;
  transition: 0.5s;
  margin: 10px;
  padding: 8px;
}

/**** モーダル *** */
.sw-reveal-outer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sw-reveal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 全面モーダルの内側 */
  background-color: #add9e4;
  border-radius: 10px;
  position: absolute;
  top: 15px;
  bottom: 15px;
  right: 15px;
  left: 15px;
}
.sw-reveal-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.swiper-button-prev,
.swiper-button-next,
.sw-close-button {
  border: none;
  outline: none;
  background: transparent;
}
.sw-close-button {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 25px;
  text-align: center;
  width: 48px;
  height: 48px;
  color: blue;
  font-size: 26px;
  z-index: 10000;
  transition: all .2s ease;
}
.sw-modal.active {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  visibility: visible;
  opacity: 1;
}
.sw-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease;
}
