.swiper {
  /*スライダーの幅と高さを調整*/
  width: 100%;
  height: 500px;
}
.swiper-wrapper {
  align-items: center;
}
.swiper-slide {
  /*スライド要素の幅と高さを調整*/
  display: flex;
  flex-flow: column;
  /*テキストの位置調整*/
  display: flex;
  /* justify-content: center; */
  align-items: center;

  /*テキストの色と太さを指定*/
  color: black;
  font-weight: bold;
}
.img {
  width: 100%;
  height: 100%;
  background-color: #88acbd;
}
.updated_at {
  margin-bottom: 30px;
}


/*モーダル*/
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.modal-content {
  background-color: black;
  border-radius: 10px;
  padding: 20px;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.modal-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

