* {
  box-sizing: border-box;
}
/**** swiper ****/
.swiper-wrapper {
  align-items: center;
}
.swiper-slide {
  /* background-color: #88acbd; */
  color: black;
  font-weight: bold;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.swiper_img {
  background-color: blue;
  height: 400px;
  width: 400px;/*画像の場合はauto*/
  max-width: 100%;
  object-fit: contain;
}
.swiper-pagination {
  margin-top: 10px;
}
/* ページネーション */
.swiper-pagination-fraction {
  bottom: 0px;
}
.updated_at {
  margin-bottom: 35px;
}


/**** モーダル *** */
.reveal-outer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reveal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 全面モーダルの内側 */
  background-color: #add9e4;
  border-radius: 10px;
  position: absolute;
  top: 15px;
  bottom: 15px;
  right: 15px;
  left: 15px;
}

.reveal-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.modalTitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
}

.close-button {
  position: absolute;
  cursor: pointer;
  top: 15px;
  right: 25px;
  text-align: center;
  width: 48px;
  height: 48px;
  color: blue;
  font-size: 26px;
  z-index: 10000;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}
/* .modal-mask { */
/* display: none; */
/* position: fixed; */
/* top: 0; */
/* left: 0; */
/* width: 100%; */
/* height: 100%; */
/* background-color: rgba(0, 0, 0, 0.7); */
/* z-index: 0; */
/* } */
