table {
  border-collapse: collapse;
  color: #333; /* 全体の文字色 */
  background-color: #FFF; /* 全体の背景色 */
}
th, td {
  padding: 5px 15px;
  border: solid 1px #a5d1f1;
}
th {
  background-color: #f0f2f7; /* 見出しの背景色 */
}
.gallery-list {
  object-fit: cover; /* indexの画像 */
  object-position: top;
}

